.arrow-link {
  display: inline-flex;
  column-gap: 15px;
  align-items: center;
  position: relative;
  cursor: pointer;

  @include hover {
    .arrow-link__link::after {
      width: 100%;
    }
  }

  &--dark {
    color: var(--color-light);

    .arrow-link {
      &__icon {
        svg {
          color: var(--color-dark-accent);
        }
      }
    }
  }
  &--light {
    color: var(--color-dark);

    .arrow-link {
      &__icon {
        svg {
          color: var(--color-accent);
        }
      }
    }
  }
  &--accent {
    color: var(--color-dark);
    
    .arrow-link {
      &__icon {
        svg {
          color: var(--color-accent);
        }
      }
    }
  }

  &--full-accent {
    color: var(--color-accent);

    .arrow-link {
      &__icon {
        svg {
          color: var(--color-accent)
        }
      }
    }
  }

  &--no-circle {
    column-gap: 0px;

    .arrow-link {
      &__icon {
        background-color: transparent;
      }
      &__link {
        order: -1;

        &::after {
          left: 0;
        }
      }
    }
  }

  &--hidden-label {
    .arrow-link {

      &__link {
        @include mobile-m {
          @include visually-hidden;
        }
      }
    }
  }

  &__link {
    position: relative;
    height: 41px;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1.4;
    transition-duration: inherit;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 90%;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition-duration: inherit;
    }
  }

  &__icon {
    background-color: currentColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    @include square(41px);

    svg {
        color: var(--color-accent);
    }
  }

}
