.menu-link {
    position: relative;
    display: inline-flex;
    height: 50px;
    align-items: center;
    text-wrap: nowrap;

    @include hover {
        &::after {
            width: 100%;
        }

        opacity: 0.9;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 90%;
        translate: -50%;
        width: 0;
        height: 1px;
        background-color: currentColor;
        transition-duration: inherit;
    }

    &--accent {
        &::after {
                background-color: var(--color-accent);
        }
    }
}